<!DOCTYPE html>
<html>
<head>
    <title>Recommender viewer</title>
</head>
<body>
    <form id="genre_banner" action="localhost:8000/ban_genres/">
        <p>Выберите жанры, которые необходимо удалить из показа:</p>
        <select name="genre_ban_list[]" multiple="multiple">
            {% for g in genres %}
	        <option> {{ g }} </option>
            {% endfor %}
        </select>
        <button type="submit" > Подтвердить </button>
    </form>
    <table>
        {% for row in books %}
            <tr>
            {% for book in row %}
                <td>
                    <div>
                        <img src={{ book["image_url"] }} />
                        <p> id: {{ book["id"] }} </p>
                        <p> title: {{ book["title"] }} </p>
                        <p> authors: {{ book["authors"] }} </p>
                        <p> rank: {{ book["rank"] }} </p>
                    </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
