<!DOCTYPE html>
<html>
<head>
    <title>Recommender viewer</title>    
</head>
<body>
    <table>
        {% for row in books %}
            <tr>
            {% for book in row %}
                <td>
                    <div>
                        <img src={{ book["image_url"] }} />
                        <p> id: {{ book["id"] }} </p>
                        <p> title: {{ book["title"] }} </p>
                        <p> authors: {{ book["authors"] }} </p>
                        <p> rank: {{ book["rank_ctb"] }} </p>
                    </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>